---
import experiencia from '@/data/experiencia.json';
---

<section id="exp-container" class="flex flex-col gap-20 justify-start items-start h-[calc(100vh-210px)] overflow-hidden">

    <h1 id="experiencia" class="text-black font-black text-7xl text-left">
        Experiencia
    </h1>

    <div class="flex gap-16 mt-8">
        {experiencia.map((item) => (
            <div class="exp-card relative rounded-3xl p-8 flex flex-col gap-4 w-170 shrink-0 h-full justify-between" style={`background-color: ${item.color}; color: ${item.colorTexto}`}>

                {item.link && (
                    <a href={item.url} target="_blank" class="absolute top-6 right-6 rounded-full w-10 h-10 flex items-center justify-center hover:rotate-45 transition-all duration-300" style={`background-color: ${item.colorBoton}; color: ${item.color}`}>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="7" y1="17" x2="17" y2="7" />
                            <polyline points="7 7 17 7 17 17" />
                        </svg>
                    </a>
                )}

                <span class="text-sm">{item.fecha}</span>

                <h2 class="text-4xl font-black max-w-150">{item.cargo}</h2>

                <p class="text-base opacity-80">{item.empresa}</p>

                <p class="text-base max-w-150" set:html={item.descripcion}></p>

                <div class="flex flex-wrap gap-4 mt-2">
                    {item.pills.map((pill) => (
                        <span class="text-xs font-semibold border-[1.5px] rounded-xl px-4 py-1" style="border-color: currentColor;">{pill}</span>
                    ))}
                </div>

            </div>
        ))}
    </div>
    
</section>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    const section = document.querySelector("#exp-container");
    const cards = gsap.utils.toArray<HTMLElement>(".exp-card");

    if (section && cards.length > 0) {
        const widthCard = cards[0].offsetWidth;
        const gap = 64;
        const widthVisible = 31;

        const tl = gsap.timeline({
            scrollTrigger: {
                trigger: section,
                pin: true,
                scrub: 1,
                start: "top 22%",
                end: () => `+=${cards.length * 800}`, 
                invalidateOnRefresh: true,
            }
        });

        cards.forEach((card, i) => {
            if (i === 0) return;

            const targetX = -( (widthCard + gap) * i ) + (i * widthVisible);

            tl.to(card, {
                x: targetX,
                ease: "power1.inOut",
            }, "-=0.2");
        });
    }
</script>